#root {
    /*max-width: 1280px;*/    
    width: 95% !important;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    top: 10px;
    position:absolute;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.input-table {
    width: 90%;
}